{# Configure me before running anything #}

{% set script = {
  'nvrun':'salt://nvidia-driver/script/nvrun',
} %}

{% set nvd_f41 = {
  'template':{'name':'fedora-41-xfce'},
  'standalone':{
    'name':'fedora-41-nvidia-cuda',
    'label':'yellow',
    'memory':'4000',
    'vcpus':'4',
  },
  'devices':['device1', 'device2', 'etc.'],
  'paths':{
    'nvidia_conf':'/usr/share/X11/xorg.conf.d/nvidia.conf',
    'grub_conf':'/etc/default/grub',
    'grub_out':'/boot/grub2/grub.cfg',
  },
} %}

{% set nvd_d12 = {
  'template':{'name':'debian-12-xfce'},
  'standalone':{
    'name':'debian-12-nvidia-cuda',
    'label':'yellow',
    'memory':'4000',
    'vcpus':'4',
  },
  'devices':['device1', 'device2', 'etc.'],
} %}

{% set nvd_d13m = {
  'template':{'name':'debian-13-minimal-hvm'},
  'template-orig':{'name':'debian-13-minimal'},
  'standalone':{
    'name':'debian-13-minimal-cuda',
    'label':'yellow',
    'memory':'8000',
    'vcpus':'8',
  },
  'devices':['01:00.0','01:00.1'],
} %}
